.company-title h2{
    text-align: center;
    margin-bottom: 100px;
    font-weight: 650;
    font-size: 30px;
}

.entreprise-img{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 450px) {

    .project-list ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .entreprise-img{
        margin-bottom: 50px !important;
    }
}